body{
  background-color:purple;
}
div{
  background-color:red;
  border:5px solid black;
  border-radius:15px;
}
#navbar{
  position:fixed;
  height:50px;
  top:10px;
  left:0%;
  width:1000px;
}
#header{
  position:relative;
  text-align:center;
  margin-top:100px;
  height:50px;
}
ul{
  list-style-type:none;
  position:fixed;
}
li{
  display:inline;
  background-color:black;
  color:red;
  border:5px solid red;
}
#left{
  height:1000px;
  width:50px;
  float:left;
  margin-top:0px;
}
#right{
  height:1000px;
  width:50px;
  float:right;
  margin-top:0px;
}
#footer{
  height:50px;
  position:relative;
  margin-top:1100px;
}
